asgiref==3.7.2
astroid==3.0.1
attrs==23.1.0
bleach==6.1.0
colorama==0.4.6
dill==0.3.7
dj-database-url==2.1.0
Django==4.2.16
django-markdownify==0.9.3
django-on-heroku==1.1.2
gunicorn==22.0.0
importlib-metadata==6.8.0
isort==5.12.0
jsonmerge==1.9.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
lazy-object-proxy==1.9.0
Markdown==3.5
mccabe==0.7.0
packaging==23.2
platformdirs==3.11.0
protobuf==4.24.4
psycopg2-binary==2.9.9
Pygments==2.16.1
pylint==3.0.2
pyparsing==3.1.1
pytz==2023.3.post1
referencing==0.30.2
rpds-py==0.10.6
six==1.16.0
sqlparse==0.5.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
typing_extensions==4.8.0
tzdata==2023.3
webencodings==0.5.1
whitenoise==6.6.0
wrapt==1.15.0
zipp==3.19.1
