asgiref==3.11.0
astroid==3.0.1
attrs==25.4.0
bleach==6.4.0
colorama==0.4.6
dill==0.3.7
dj-database-url==3.0.1
Django==6.1.1
django-markdownify==0.9.7
gunicorn==26.0.0
isort==5.12.0
jsonmerge==1.9.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
Markdown==3.8.2
mccabe==0.7.0
packaging==26.2
platformdirs==4.10.0
psycopg2-binary==2.9.11
Pygments==2.20.0
pylint==3.0.2
referencing==0.37.0
rpds-py==2026.5.1
six==1.17.0
sqlparse==0.6.0
tinycss2==1.5.1
tomlkit==0.15.0
typing_extensions==4.15.0
tzdata==2026.2
webencodings==0.5.1
whitenoise==6.11.0
