<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Code Thesaurus: A polyglot developer reference tool" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Code Thesaurus - {{ title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/app.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-blue navbar-expand-sm box-shadow">
            <div class="container d-flex justify-content-between">

                <a class="navbar-brand d-flex align-items-center" href="/">Code Thesaurus</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarToggler">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main">

        {% block content %}{% endblock %}

    </main>


    <footer class="text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="col order-sm-2 d-flex justify-content-end align-self-center">
                    <div class="flex-column">
                        <a class="toTop" href="#">
                            <span class="d-flex flex-column">
                                <i class="fa fa-angle-up fa-2x align-self-center" aria-hidden="true"></i>
                                Back to top</span>
                        </a>

                    </div>
                </div>
                <div class="col">
                    <p>Made with &#x2764; by Sarah Withee.</p> <!-- x2764 the heart emoji code -->
                    <p>Want to help out? Check the project out on <a class="text-blue"
                            href="http://github.com/codethesaurus/" target="_blank">GitHub</a>.</p>
                </div>
            </div>
        </div>
    </footer>

    <!--scripts loaded here-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
    </script>

    <script src="/static/js/app.js"></script>

</body>

</html>