{% extends 'base.html' %}
{% load templatetags %}

{% block content %}
        <div class="container">
            <div class="row mt-5">
                <h1 class="col-12">Comparing {{ lang1_friendlyname }}'s and {{ lang2_friendlyname }}'s {{ concept_friendly_name }}</h1>
            </div>
            <div class="row col-12">
                The following will eventually be a table of stuff that's populated with things from the languages
            </div>
            <div class="row">&nbsp;</div>

{% for category in categories %}
           <div class="row">&nbsp;</div>
           <div class="row"><h2>{{ category.id }}</h2></div>
           <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Concept</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">{{ lang1_friendlyname|linebreaksbr }}'s Implementation</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">{{ lang2_friendlyname|linebreaksbr }}'s Implementation</h3>
                    </div>
                </div>
            </div>

    {% for concept in category.concepts %}
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <div class="strong">
                        {{ concept.name|default:"Unsupported or Not Needed"|linebreaksbr }}
                    </div>
                </div>
            </div>
            {% comparecard concept.code1 concept.comment1 %}
            {% comparecard concept.code2 concept.comment2 %}
        </div>
    {% endfor %}
{% endfor %}

           <div class="row">&nbsp;</div>
           <div class="card-group">
                <div class="card border-0">
                    <div class="card-body">&nbsp;</div>
                </div>
                <div class="card" id="start-of-row">
                    <div class="card-body">
                        <a href="https://github.com/codethesaurus/codethesaur.us/edit/main/web/thesauruses/{{ lang1 }}/{{ concept }}.json">
                            Want to add or correct information for {{ lang1_friendlyname }}?
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a href="https://github.com/codethesaurus/codethesaur.us/edit/main/web/thesauruses/{{ lang2 }}/{{ concept }}.json">
                            Want to add or correct information for {{ lang2_friendlyname }}?
                        </a>
                    </div>
                </div>
            </div>

        </div>
{% endblock content %}
