{% extends 'base.html' %}
{% load templatetags %}

{% block content %}
        <div class="container">
            <div class="row mt-5">
                <h2 class="col-12">Comparing {{ lang1 }}'s and {{ lang2 }}'s {{ concept }}</h2>
            </div>
            <div class="row col-12">
                The following will eventually be a table of stuff that's populated with things from the languages
            </div>
            <div class="row">&nbsp;</div>

            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Concept</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">{{ lang1 }}</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">{{ lang2 }}</h5>
                    </div>
                </div>
            </div>

{% for item in common_concepts %}

                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <div class="strong">
                                {{ item.lang1.name|default:"&nbsp;" }}
                            </div>
                        </div>
                    </div>
                    {% comparecard item.lang1.code %}
                    {% comparecard item.lang2.code %}
                </div>
{% endfor %}
        </div>

{% endblock content %}
