{% extends 'base.html' %}
{% load templatetags %}

{% block content %}
        <div class="container">
            <div class="row mt-5">
                <h2 class="col-12">Comparing {{ lang1_friendlyname }}'s and {{ lang2_friendlyname }}'s {{ concept_friendly_name }}</h2>
            </div>
            <div class="row col-12">
                The following will eventually be a table of stuff that's populated with things from the languages
            </div>
            <div class="row">&nbsp;</div>

{% for category in categories %}
           <div class="row">&nbsp;</div>
           <div class="row"><h3>{{ category.id }}</h3></div>
           <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Concept</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">{{ lang1_friendlyname|linebreaksbr }}'s Implementation</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">{{ lang2_friendlyname|linebreaksbr }}'s Implementation</h5>
                    </div>
                </div>
            </div>

    {% for concept_item in category.concepts %}
        {% for c in concepts %}
            {% if c.id == concept_item %}
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <div class="strong">
                                {{ c.name|default:"Unsupported or Not Needed"|linebreaksbr }}
                            </div>
                        </div>
                    </div>
                    {% comparecard c.code1 c.comment1 %}
                    {% comparecard c.code2 c.comment2 %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}

           <div class="row">&nbsp;</div>
           <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <a href="https://github.com/codethesaurus/codethesaur.us/blob/master/web/thesauruses/{{ lang1 }}/{{ concept_id }}.json">
                            Want to add or correct information for {{ lang1_friendlyname }}?
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a href="https://github.com/codethesaurus/codethesaur.us/blob/master/web/thesauruses/{{ lang2 }}/{{ concept_id }}.json">
                            Want to add or correct information for {{ lang2_friendlyname }}?
                        </a>
                    </div>
                </div>
            </div>

        </div>
{% endblock content %}
