{% extends 'base.html' %}
{% load templatetags %}

{% block content %}
        <div class="container">
            <div class="row mt-5">
                <h1 class="col-12">{{ title }}</h1>
            </div>
            <div class="row">&nbsp;</div>

{% for category in categories %}
           <div class="row">&nbsp;</div>
           <div class="row"><h2>{{ category.key }}</h2></div>
           <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Concept</h3>
                    </div>
                </div>
                {% for lang in languages %} 
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">{{ lang.name }}'s Implementation</h3>
                    </div>
                </div>
                {% endfor %}
            </div>

    {% for concept in category.concepts %}
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <div class="strong">
                        {{ concept.name | linebreaksbr }}
                    </div>
                </div>
            </div>
            {% for d in concept.data %}
            {% concept_card d.code d.comment %}
            {% endfor %}
        </div>
    {% endfor %}
{% endfor %}

           <div class="row">&nbsp;</div>
           <div class="card-group">
                <div class="card border-0">
                    <div class="card-body">&nbsp;</div>
                </div>
                {% for lang in languages %}
                <div class="card" id="start-of-row">
                    <div class="card-body">
                        <a href="https://github.com/codethesaurus/codethesaur.us/edit/main/web/thesauruses/{{ lang.key }}/{{ lang.version }}/{{ concept }}.json">
                            Want to add or correct information for {{ lang.name }}?
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
{% endblock content %}
