{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="bg-light p-5 rounded">
    <h1>404 Error - Not Found!</h1>
    <p class="lead">I don't know what you were looking for, but it's not here!</p>
    <a class="btn btn-lg btn-primary" href="/" role="button">Go to the Home Page &raquo;</a>
    <h1> Error Generation</h1>
    <p class= "lead">The file which is generating Error</p>
    <a href = "https://github.com/codethesaurus/codethesaur.us/blob/091aab66a0756e7eb4fd520fd2e8e5a02160de32/web/views.py#L231">Error file </a>
    <h1>Error Exception file</h1>
    <p class = "lead">The file giving Exception</p>
    <a href = "https://github.com/codethesaurus/codethesaur.us/blob/091aab66a0756e7eb4fd520fd2e8e5a02160de32/web/views.py#L231">Error Exception file</a>
    <a href="https://github.com/codethesaurus/codethesaur.us/blob/a7326293aa1d2a9f6f6d5cc0c894c406a20157a9/CONTRIBUTING.md">How to Contribute</a>
  </div>
</div>

{% endblock content %}
