{% extends 'base.html' %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">The Polyglot Developer Reference</h1>
        <p class="lead text-muted">Use this tool to compare language components from languages you know and don't know,
            or just use it as a language reference cheat sheet.</p>
    </div>
</section>

<div>{{ structures_keys|linebreaksbr }}</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="card-deck row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <form method="get" action="/">
                        <div class="card-block">
                            <h2 class="card-header p-3">
                                Learn a Language
                            </h2>
                            <div class="card-body p-3">
                                <h3 class="card-subtitle pb-3">
                                    Compare concepts side-by-side with a language you know and one you don't.
                                </h3>

                                <div class="card-text">
                                    <label class="text-muted py-2" for="concept"> Choose a language concept:</label>
                                    <select class="form-select" id="concept" name="concept">
                                        {% for k, v in structures.items %}
                                        <option value="{{ k }}">{{ v }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                                <div class="card-text">
                                    <label class="text-muted py-2" for="lang1">Pick a language you know:</label>
                                    <select class="form-select" id="lang1" name="lang">
                                        {% for k, lang in languages.items %}
                                        {% for v in lang %}
                                        <option class="{{v.availStructs|join:" "}}" value="{{ k }};{{ v.version }}">{{ v.name }} (version {{v.version}})</option>
                                        {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <label class="text-muted py-2" for="lang2">Pick a language you
                                        <strong>don't</strong>
                                        know:</label>
                                    <select class="form-select" id="lang2" name="lang">
                                        {% for k, lang in languages.items %}
                                        {% for v in lang %}
                                        <option class="{{v.availStructs|join:" "}}" value="{{ k }};{{ v.version }}">{{ v.name }} (version {{v.version}})</option>
                                        {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn bg-blue text-white btn-lg my-3"
                                    aria-label="Go compare languages">
                                    <span class="d-inline">Go <i class="fa fa-arrow-right ml-2"
                                        ></i></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <form method="get" action="/">
                        <div class="card-block">
                            <h2 class="card-header p-3">
                                See a Reference Sheet
                            </h2>
                            <div class="card-body p-3">
                                <h3 class="card-subtitle pb-3">
                                    A quick and easy way to remind yourself how to do something.

                                    Still under construction.
                                </h3>
                                <label class="text-muted py-2" for="reference-concept">Choose a language concept:</label>
                                <select class="form-select" id="reference-concept" name="concept">
                                    {% for k, v in structures.items %}
                                    <option value="{{ k }}">{{ v }}</option>
                                    {% endfor %}
                                </select>
                                <label class="text-muted py-2" for="lang">Pick a language:</label>
                                <select class="form-select" id="lang" name="lang">
                                    {% for k, lang in languages.items %}
                                    {% for v in lang %}
                                    <option class="{{v.availStructs|join:" "}}" value="{{ k }};{{ v.version }}">{{ v.name }} (version {{v.version}})</option>
                                    {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn bg-blue text-white btn-lg my-3"
                                    aria-label="Go to reference sheet"> <span class="d-inline">Go
                                        <i class="fa fa-arrow-right ml-2"></i></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="contribution-alert" class="container">
        <div class="alert alert-info" role="alert">
            <p>
                If there is a language/concept combination you would like to explore but is not available, learn <a href="https://docs.codethesaur.us/contributing/" class="alert-link">how to help out!</a> 
            </p>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="../static/js/checkAvailableStructs.js"></script>
{% endblock scripts %}
