{% extends 'base.html' %}
{% load templatetags %}

{% block content %}
        <div class="container">
            <div class="row mt-5">
                <h1 class="col-12">Reference for {{ lang_friendlyname }} for {{ concept_friendly_name | linebreaksbr }}</h1>
            </div>
            <div class="row col-12">
                The following will eventually be a table of stuff that's populated with things from the languages
            </div>

{% for category in categories %}
            <div class="row">&nbsp;</div>
            <div class="row"><h2>{{ category.id|linebreaksbr }}</h2></div>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Concept</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">{{ lang_friendlyname|linebreaksbr }}'s Implementation</h3>
                    </div>
                </div>
            </div>

    {% for concept in category.concepts %}
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <div class="strong">
                        {{ concept.name|linebreaksbr }}
                    </div>
                </div>
            </div>
            {% comparecard concept.code concept.comment %}
        </div>
    {% endfor %}
{% endfor %}

           <div class="row">&nbsp;</div>
           <div class="card-group">
                <div class="card border-0">
                    <div class="card-body">&nbsp;</div>
                </div>
                <div class="card" id="start-of-row">
                    <div class="card-body">
                        <a href="https://github.com/codethesaurus/codethesaur.us/edit/main/web/thesauruses/{{ lang }}/{{ concept }}.json">
                            Want to add or correct information for {{ lang_friendlyname }}?
                        </a>
                    </div>
                </div>
            </div>

        </div>

{% endblock content %}
