@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

a {
  color: #304ffe;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.navbar-nav .nav-item {
  font-size: 2rem;
  color: #fff;
}

@media (min-width: 576px) {
  .navbar-nav {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav .nav-item {
    font-size: 1rem;
  }
}

.navbar-dark .navbar-toggler {
  border: 0;
  color: #fff;
}

.navbar-dark .nav-item a.nav-link {
  color: #fff;
}

.navbar-dark .nav-item a.nav-link :hover {
  color: #000;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 767px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron .container {
  max-width: 60rem;
}

.jumbotron .container h1 {
  font-size: 3.5rem;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.bg-blue {
  background-color: #304ffe;
}

.card-header {
  background: #fdd835;
  color: #000;
}

#contribution-alert {
  display: flex;
  justify-content: center;
}

#contribution-alert .alert {
  width: fit-content;
  text-align: center;
  margin: 0;
}

#contribution-alert p {
  margin: 0;
}

footer {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.text-strong {
  font-weight: bold;
}

.card-footer {
  border: 0;
  background-color: #fff;
}

a.toTop {
  color: #304ffe;
  text-decoration: none;
}

.text-blue {
  color: #304ffe;
}

#start-of-row {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border: 1px solid rgba(0,0,0,.125);
}

textarea {
  height: 38vh;
  width: 100%;
  font-family: monospace;
  resize: both;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}
