pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.syntax .hll { background-color: #0000ff }
.syntax .c { color: #00ff00 } /* Comment */
.syntax .k { color: #ff0000 } /* Keyword */
.syntax .ch { color: #00ff00 } /* Comment.Hashbang */
.syntax .cm { color: #00ff00 } /* Comment.Multiline */
.syntax .cp { color: #e5e5e5 } /* Comment.Preproc */
.syntax .cpf { color: #00ff00 } /* Comment.PreprocFile */
.syntax .c1 { color: #00ff00 } /* Comment.Single */
.syntax .cs { color: #00ff00 } /* Comment.Special */
.syntax .kc { color: #ff0000 } /* Keyword.Constant */
.syntax .kd { color: #ff0000 } /* Keyword.Declaration */
.syntax .kn { color: #ff0000 } /* Keyword.Namespace */
.syntax .kp { color: #ff0000 } /* Keyword.Pseudo */
.syntax .kr { color: #ff0000 } /* Keyword.Reserved */
.syntax .kt { color: #ee82ee } /* Keyword.Type */
.syntax .s { color: #87ceeb } /* Literal.String */
.syntax .no { color: #7fffd4 } /* Name.Constant */
.syntax .nf { color: #ffff00 } /* Name.Function */
.syntax .nv { color: #eedd82 } /* Name.Variable */
.syntax .sa { color: #87ceeb } /* Literal.String.Affix */
.syntax .sb { color: #87ceeb } /* Literal.String.Backtick */
.syntax .sc { color: #87ceeb } /* Literal.String.Char */
.syntax .dl { color: #87ceeb } /* Literal.String.Delimiter */
.syntax .sd { color: #87ceeb } /* Literal.String.Doc */
.syntax .s2 { color: #87ceeb } /* Literal.String.Double */
.syntax .se { color: #87ceeb } /* Literal.String.Escape */
.syntax .sh { color: #87ceeb } /* Literal.String.Heredoc */
.syntax .si { color: #87ceeb } /* Literal.String.Interpol */
.syntax .sx { color: #87ceeb } /* Literal.String.Other */
.syntax .sr { color: #87ceeb } /* Literal.String.Regex */
.syntax .s1 { color: #87ceeb } /* Literal.String.Single */
.syntax .ss { color: #87ceeb } /* Literal.String.Symbol */
.syntax .fm { color: #ffff00 } /* Name.Function.Magic */
.syntax .vc { color: #eedd82 } /* Name.Variable.Class */
.syntax .vg { color: #eedd82 } /* Name.Variable.Global */
.syntax .vi { color: #eedd82 } /* Name.Variable.Instance */
.syntax .vm { color: #eedd82 } /* Name.Variable.Magic */
